<app-header
  [title]="miniature ? 'Editar miniatura' : 'Añadir miniatura'"
  [isModal]="true"
></app-header>
<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="ion-padding ion-text-center">
      <ion-avatar *ngIf="form.value.image">
        <img [src]="form.value.image" />
      </ion-avatar>
      <ion-icon
        name="image-outline"
        class="image-icon"
        *ngIf="!form.value.image"
      ></ion-icon>
      <br />
      <ion-button (click)="takeImage()" size="small" mode="ios" shape="round">
        Tomar / Seleccionar
      </ion-button>

      <app-custom-input
        [control]="form.controls.name"
        type="text"
        label="Nombre"
      ></app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.name.errors && form.controls.name.touched"
      >
        <div *ngIf="form.controls.name.errors?.['required']">
          Debe especificar un nombre
        </div>
        <div *ngIf="form.controls.name.errors?.['minlength']">
          El nombre debe tener al menos 4 caracteres.
        </div>
      </div>

      <app-custom-input
        [control]="form.controls.units"
        type="number"
        label="Unidades"
      ></app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.units.errors && form.controls.units.touched"
      >
        <div *ngIf="form.controls.units.errors?.['required']">
          Debe especificar una cantidad de miniaturas
        </div>
        <div *ngIf="form.controls.units.errors?.['min']">
          La cantidad debe ser mayor de uno
        </div>
      </div>

      <app-custom-input
        [control]="form.controls.strength"
        type="number"
        label="Fuerza"
      ></app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.strength.errors && form.controls.strength.touched"
      >
        <div *ngIf="form.controls.strength.errors?.['required']">
          Debe especificar una cantidad de fuerza
        </div>
        <div *ngIf="form.controls.strength.errors?.['min']">
          La fuerza debe ser mayor de cero.
        </div>
      </div>

      <ion-button
        mode="ios"
        (click)="submit()"
        expand="block"
        class="submit"
        type="submit"
        [disabled]="form.invalid"
      >
        {{ miniature ? "Editar miniatura" : "Añadir miniatura" }}
        <ion-icon slot="end" name="body-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
