<ion-item lines="none" class="custom-input">
  <ion-icon color="primary" slot="start" *ngIf="icon" [name]="icon"></ion-icon>
  <ion-input
    [type]="type"
    [autocomplete]="autocomplete"
    [label]="label"
    [formControl]="control"
    labelPlacement="floating"
  ></ion-input>
  <ion-button
    (click)="showOrHidePassword()"
    *ngIf="isPassword"
    slot="end"
    shape="round"
    fill="clear"
  >
    <ion-icon
      slot="icon-only"
      [name]="hide ? 'eye-outline' : 'eye-off-outline'"
    ></ion-icon>
  </ion-button>
</ion-item>
