@media (min-width: 769px) {
  .add-update-modal {
    --height: 680px;
  }
}

.product-item {
  --padding-top: 20px;

  ion-avatar {
    width: 70px;
    height: 80px;
    --border-radius: 15px;
  }

  .name {
    font-weight: 700;
    padding-bottom: 5px;
  }

  .option-btn {
    font-size: 27px;
  }

  .data {
    font-size: 13px;

    strong {
      font-weight: 600;
    }
  }

  ion-chip {
    font-size: 14px;
    border-radius: 10px;
    margin-left: 0;
  }
}

.empty {
  text-align: center;
  padding: 60px;
  opacity: 30%;
  ion-icon {
    font-size: 100px;
  }
}

ion-card {
  gap: 100px;
  padding: 20px 0;
  border-radius: 15px;
}

.products-list {
  padding-bottom: 70px;
}