<app-header
  [title]="product ? 'Editar producto' : 'Añadir producto'"
  [isModal]="true"
></app-header>
<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="ion-padding ion-text-center">
      <ion-avatar *ngIf="form.value.image">
        <img [src]="form.value.image" />
      </ion-avatar>
      <ion-icon
        name="image-outline"
        class="image-icon"
        *ngIf="!form.value.image"
      ></ion-icon>
      <br />
      <ion-button (click)="takeImage()" size="small" mode="ios" shape="round">
        Tomar / Seleccionar
      </ion-button>

      <app-custom-input
        [control]="form.controls.name"
        type="text"
        label="Nombre"
      ></app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.name.errors && form.controls.name.touched"
      >
        <div *ngIf="form.controls.name.errors?.['required']">
          Debe especificar un nombre
        </div>
        <div *ngIf="form.controls.name.errors?.['minlength']">
          El nombre debe tener al menos 4 caracteres.
        </div>
      </div>

      <app-custom-input
        [control]="form.controls.stock"
        type="number"
        label="Stock"
      ></app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.stock.errors && form.controls.stock.touched"
      >
        <div *ngIf="form.controls.stock.errors?.['required']">
          Debe especificar una cantidad de stock
        </div>
        <div *ngIf="form.controls.stock.errors?.['min']">
          La cantidad debe ser mayor de uno
        </div>
      </div>

      <app-custom-input
        [control]="form.controls.price"
        type="number"
        label="Precio"
      ></app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.price.errors && form.controls.price.touched"
      >
        <div *ngIf="form.controls.price.errors?.['required']">
          Debe especificar un precio
        </div>
        <div *ngIf="form.controls.price.errors?.['min']">
          El precio debe ser mayor de cero.
        </div>
      </div>

      <ion-button
        mode="ios"
        (click)="submit()"
        expand="block"
        class="submit"
        type="submit"
        [disabled]="form.invalid"
      >
        {{ product ? "Editar producto" : "Añadir producto" }}
        <ion-icon slot="end" name="cube-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>